<h3>Lista de sillas disponibles:</h3>
<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Material del tapizado</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let chair of chairs" [ngClass]="{'clearance': chair.clearance}">
            <td><img width="100" class="img-thumbnail" [src]="chair.image" [alt]="chair.brand"></td>
            <td>{{chair.brand | uppercase}}</td>
            <td>{{chair.model}}</td>
            <td>{{chair.material}}</td>
            <td>{{chair.price | currency}}</td>
            <td><span class="badge badge-danger" *ngIf="chair.stock==0">PRODUCTO SIN STOCK</span></td>
            <td> 
                <app-input-integer [(quantity)]="chair.quantity" [max]="chair.stock" *ngIf="chair.stock" (maxReached)="maxReached($event)"></app-input-integer>
            </td>
            <td>
                <button class="btn btn-success btn-sm" (click)="addToCart(chair)">Comprar</button>
            </td>
        </tr>
    </tbody>
</table>