<h1>Lista de sillas disponibles:</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Material del tapizado</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let chair of chairs" [ngClass]="{'clearance': chair.clearance}">
            <td><img [src]="chair.image" [alt]="chair.brand"></td>
            <td>{{chair.brand | uppercase}}</td>
            <td>{{chair.model}}</td>
            <td>{{chair.material}}</td>
            <td>{{chair.price | currency}}</td>
            <td><span class="badge badge-danger" *ngIf="chair.stock==0">PRODUCTO SIN STOCK</span></td>
        </tr>
    </tbody>
</table>